
.popularContainer{
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.3rem;
    user-select: none;
}

.popularTitleSection{
    font-weight: 600;
    font-size: 2.5rem;
}

.popularDescription{
    font-weight: 600;
    font-size: 0.95rem;
    color: #777;
}

.PopularTabContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popularTabSection{
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    overflow-x: auto;
}

.tabItem{
    min-width: 8rem;
    min-height: 2.8rem;
    background-color: #eee;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
    font-weight: 500;
}

@media screen and (max-width: 809px) {
    .popularTabSection{
        gap: 0.9rem;
        justify-content: flex-start;
    }
}

.tabItem:hover{
    cursor: pointer;
    filter: brightness(0.97);
}

.activeTabItem{
    background-color: #ef4f5f;
    color: #fff;
}

.popularDataSection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.popularDataItemContainer{
    width: 10rem;
    min-height: 13rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
    transition: all 300ms ease-in-out;
}

.popularDataItemContainer:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 9px rgba(0,0,0,0.1);
}

.popularItemImage{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 0.7rem;
}
.popularItemTitle{
    font-size: 0.9rem;
    font-weight: 600;
}

.knowMoreButton{
    color: #fff;
    background-color: #ef4f5f;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
    margin-top: 2rem;
}

.knowMoreButton:hover{
    cursor: pointer;
    filter: brightness(0.95);
}